/*CSS Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/registerBG.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.register{
  width: 340px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.register h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.register form .form-group {
  margin-bottom: 12px;
}

.register form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

.register img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
}

p {
  font-size: 12px;
}

.register h6 {
  font-size:  23px;
  font-weight: 650;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.check {
  font-size: 12px;
}

.check a{
  text-decoration: none;
}