/*CSS Reset*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
};


.floating-parent {
	position: fixed;
	bottom: 8%;
	right: 18px;
}


footer{
	text-align: center;
/*	color: white;*/
/*	background-color: #7895B2;*/
}
